:root {
    --nutmeg: hsl(14, 45%, 36%);
    --dark-raspberry: hsl(332, 51%, 32%);

    --wht: hsl(0, 0%, 100%);
    --rose-white: hsl(330, 100%, 98%);
    --eggshell: hsl(30, 54%, 90%);
    --light-grey: hsl(30, 18%, 87%);
    --wenge-brown: hsl(30, 10%, 34%);
    --dark-charcoal: hsl(24, 5%, 18%);
}

* {
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    background-color: var(--eggshell);
}

img {
    width: 100%;
    border-radius: 15px;
}

h1,
h2 {
    font-family: "Young Serif", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--nutmeg);
}

ul {
    padding-left: 25px;
}

li {
    padding-left: 20px;
}

li::marker {
    color: var(--nutmeg);
}

table {
    width: 100%;
}

td {
    border-bottom: 1px solid var(--light-grey);
}

tr:last-child>td {
    border-bottom: 0;
}

hr {
    color: var(--light-grey);
}

.nutmeg-text {
    color: var(--nutmeg);
    font-weight: 800;
}

.wrapper {
    background-color: var(--wht);
    margin: auto;
    padding: 40px;
    width: 650px;
    border-radius: 30px;
}

.highlight {
    background-color: var(--rose-white);
    padding: 20px;
    border-radius: 15px;
}

.highlight h2 {
    color: var(--dark-raspberry);
    font-family: "Outfit", sans-serif;
    font-weight: 700;
}